/*
Accordion shortcode.

@since v1.0.0
*/
.dork-accordion {
	max-width: 100%;
	height: auto;
	display: block;
}

.dork-accordion .accordion-item {
	margin-bottom: .75em;
}

.dork-accordion .accordion-item:last-child {
	margin-bottom: 0;
}

.dork-accordion .accordion-title {
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 3em;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.dork-accordion .accordion-title a {
	margin-left: 1em;
	text-decoration: none;
	font-family: inherit;
	opacity: 0.75;
	font-size: 1em;
	font-weight: 400;
	text-shadow: 0 1px 1px #FFFFFF;
	color: #333333;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.dork-accordion .accordion-title a i {
	margin-right: .75em;
}

.dork-accordion .accordion-title:hover a {
	opacity: 1;
}

.dork-accordion .accordion-title.active a {
	opacity: 1;
}

.dork-accordion .accordion-title.active {
	background-color: #F5F5F5;
}

.dork-accordion .accordion-title:hover {
	background-color: #F5F5F5;
}

.dork-accordion .accordion-title:hover, .dork-accordion .accordion-title:hover > i {
	opacity: 1;
}

.dork-accordion .accordion-title > i {
	font-size: 1em;
	padding-right: .75em;
	vertical-align: middle;
	opacity: 0.75;
	line-height: 3em;
}

.dork-accordion .accordion-title > span {
	border-left: 1px solid #DDDDDD;
	background-color: #EDEDED;
	padding: 0 1em;
	float: right;
}

.dork-accordion .accordion-title > span i {

	vertical-align: middle;
	line-height: 2.5em;
	opacity: 0.65;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.dork-accordion .accordion-title:hover > span i {
	-webkit-transition: rotate(180deg);
	-moz-transition: rotate(180deg);
	-ms-transition: rotate(180deg);
	transform: rotate(180deg);
}

.dork-accordion .accordion-title:hover > span i:before {
	content: "\f068";
}

.dork-accordion .accordion-title.active > span i:before {
	content: "\f068";
}

.dork-accordion .accordion-inner {
	height: 100%;
	display: none;
	padding: 1em;
	font-size: 1em;
	line-height: 1.625em;
	background-color: #FFFFFF;
	color: #333333;
}

.dork-accordion .accordion-title.active + .accordion-inner {
	display: block;
}

.dork-accordion.basic-accordion .accordion-title {
	border-bottom: 1px solid #DDDDDD;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	padding: 0;
}

.dork-accordion.basic-accordion .accordion-title > span {
	background: transparent;
	border: none;
}

.dork-accordion.basic-accordion .accordion-title:hover {
	background-color: #FFFFFF;
}

.dork-accordion.basic-accordion .accordion-title.active {
	background-color: #FFFFFF;
}

.dork-accordion.basic-accordion .accordion-inner {
	border: none;
}

/*
Alert shortcode.

@since v1.0.0
*/
.dork-alert {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 20px;
	border: 1px solid;
	padding: .75em;
	margin: .75em 0;
	line-height: 1.5;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dork-alert i.alert-dismiss {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	padding: .75em .75em 0 0;
	font-size: 1.2em;
	opacity: 0.75;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.dork-alert i.alert-dismiss:hover {
	opacity: 1;
}

.dork-alert i.alert-icon {
	display: inline-block;
	font-size: 3.5em;
	vertical-align: middle;
	padding: 0;
	margin-right: .35em;
}

.dork-alert .alert-heading {
	font-size: 1.25em;
	font-weight: 700;
}

.dork-alert .alert-content {
	font-size: 1em;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}

.dork-alert.alert-muted {
	background-color: #FAFAFA;
	border-color: #EBEBEB;
	color: #8F8F8F;
}

.dork-alert.alert-info {
	background-color: #B8E1F1;
	border-color: #A1C7D5;
	color: #52889B;
}

.dork-alert.alert-success {
	background-color: #D8EFC1;
	border-color: #B4D892;
	color: #79985B;
}

.dork-alert.alert-warning {
	background-color: #FEEBB7;
	border-color: #E7D195;
	color: #B49133;
}

.dork-alert.alert-danger {
	background-color: #F9BCC3;
	border-color: #F09DA7;
	color: #B76973;
}

.dork-alert.alert-inverted {
	background-color: #555555;
	border-color: #333333;
	color: #FAFAFA;
}

.dork-alert.alert-small .alert-content {
	font-size: .875em;
}

.dork-alert.alert-small i.alert-icon {
	font-size: 3em;
}

.dork-alert.alert-small .alert-heading {
	font-size: 1.175em;
}

.dork-alert.alert-default .alert-content {
	 font-size: 1em;
 }

.dork-alert.alert-default i.alert-icon {
	font-size: 3.5em;
}

.dork-alert.alert-default .alert-heading {
	font-size: 1.25em;
}

.dork-alert.alert-large .alert-content {
	font-size: 1.125em;
}

.dork-alert.alert-large i.alert-icon {
	font-size: 3.75em;
}

.dork-alert.alert-large .alert-heading {
	font-size: 1.375em;
}

.dork-alert.alert-huge .alert-content {
	font-size: 1.275em;
}

.dork-alert.alert-huge i.alert-icon {
	font-size: 4em;
}

.dork-alert.alert-huge .alert-heading {
	font-size: 1.475em;
}