/* ========================================================================
   Component: Icon
 ========================================================================== */
@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot");
	src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/*
 * 1. Allow margin
 * 2. Prevent inherit font style
 * 4. Correct line-height
 * 5. Better font rendering
 */
[class*='dork-icon-'], .no-icon {
	font-family: FontAwesome;
	/* 1 */
	display: inline-block;
	/* 2 */
	font-weight: normal;
	font-style: normal;
	/* 4 */
	line-height: 1;
	/* 5 */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Size modifiers
 ========================================================================== */
.dork-icon-small:before {
	font-size: 150%;
	vertical-align: -10%;
}
.dork-icon-medium:before {
	font-size: 200%;
	vertical-align: -16%;
}
.dork-icon-large:before {
	font-size: 250%;
	vertical-align: -22%;
}
/* Modifier: `dork-icon-spin`
 ========================================================================== */
.dork-icon-spin {
	display: inline-block;
	-webkit-animation: dork-spin 2s infinite linear;
	animation: dork-spin 2s infinite linear;
}
/* Modifier: `dork-icon-button`
 ========================================================================== */
.dork-icon-button {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #f5f5f5;
	line-height: 35px;
	color: #444444;
	font-size: 18px;
	text-align: center;
	border: 1px solid #e7e7e7;
	text-shadow: 0 1px 0 #ffffff;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.dork-icon-button:hover,
.dork-icon-button:focus {
	background-color: #fafafa;
	color: #444444;
	text-decoration: none;
	/* 2 */
	outline: none;
	border-color: #d3d3d3;
}
/* Active */
.dork-icon-button:active {
	background-color: #eeeeee;
	color: #444444;
}
/* Icon mapping
 ========================================================================== */
.dork-icon-glass:before {
	content: "\f000";
}
.dork-icon-music:before {
	content: "\f001";
}
.dork-icon-search:before {
	content: "\f002";
}
.dork-icon-envelope-o:before {
	content: "\f003";
}
.dork-icon-heart:before {
	content: "\f004";
}
.dork-icon-star:before {
	content: "\f005";
}
.dork-icon-star-o:before {
	content: "\f006";
}
.dork-icon-user:before {
	content: "\f007";
}
.dork-icon-film:before {
	content: "\f008";
}
.dork-icon-th-large:before {
	content: "\f009";
}
.dork-icon-th:before {
	content: "\f00a";
}
.dork-icon-th-list:before {
	content: "\f00b";
}
.dork-icon-check:before {
	content: "\f00c";
}
.dork-icon-times:before, .no-icon:before {
	content: "\f00d";
}
.dork-icon-search-plus:before {
	content: "\f00e";
}
.dork-icon-search-minus:before {
	content: "\f010";
}
.dork-icon-power-off:before {
	content: "\f011";
}
.dork-icon-signal:before {
	content: "\f012";
}
.dork-icon-gear:before,
.dork-icon-cog:before {
	content: "\f013";
}
.dork-icon-trash-o:before {
	content: "\f014";
}
.dork-icon-home:before {
	content: "\f015";
}
.dork-icon-file-o:before {
	content: "\f016";
}
.dork-icon-clock-o:before {
	content: "\f017";
}
.dork-icon-road:before {
	content: "\f018";
}
.dork-icon-download:before {
	content: "\f019";
}
.dork-icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.dork-icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.dork-icon-inbox:before {
	content: "\f01c";
}
.dork-icon-play-circle-o:before {
	content: "\f01d";
}
.dork-icon-rotate-right:before,
.dork-icon-repeat:before {
	content: "\f01e";
}
.dork-icon-refresh:before {
	content: "\f021";
}
.dork-icon-list-alt:before {
	content: "\f022";
}
.dork-icon-lock:before {
	content: "\f023";
}
.dork-icon-flag:before {
	content: "\f024";
}
.dork-icon-headphones:before {
	content: "\f025";
}
.dork-icon-volume-off:before {
	content: "\f026";
}
.dork-icon-volume-down:before {
	content: "\f027";
}
.dork-icon-volume-up:before {
	content: "\f028";
}
.dork-icon-qrcode:before {
	content: "\f029";
}
.dork-icon-barcode:before {
	content: "\f02a";
}
.dork-icon-tag:before {
	content: "\f02b";
}
.dork-icon-tags:before {
	content: "\f02c";
}
.dork-icon-book:before {
	content: "\f02d";
}
.dork-icon-bookmark:before {
	content: "\f02e";
}
.dork-icon-print:before {
	content: "\f02f";
}
.dork-icon-camera:before {
	content: "\f030";
}
.dork-icon-font:before {
	content: "\f031";
}
.dork-icon-bold:before {
	content: "\f032";
}
.dork-icon-italic:before {
	content: "\f033";
}
.dork-icon-text-height:before {
	content: "\f034";
}
.dork-icon-text-width:before {
	content: "\f035";
}
.dork-icon-align-left:before {
	content: "\f036";
}
.dork-icon-align-center:before {
	content: "\f037";
}
.dork-icon-align-right:before {
	content: "\f038";
}
.dork-icon-align-justify:before {
	content: "\f039";
}
.dork-icon-list:before {
	content: "\f03a";
}
.dork-icon-dedent:before,
.dork-icon-outdent:before {
	content: "\f03b";
}
.dork-icon-indent:before {
	content: "\f03c";
}
.dork-icon-video-camera:before {
	content: "\f03d";
}
.dork-icon-picture-o:before {
	content: "\f03e";
}
.dork-icon-pencil:before {
	content: "\f040";
}
.dork-icon-map-marker:before {
	content: "\f041";
}
.dork-icon-adjust:before {
	content: "\f042";
}
.dork-icon-tint:before {
	content: "\f043";
}
.dork-icon-edit:before,
.dork-icon-pencil-square-o:before {
	content: "\f044";
}
.dork-icon-share-square-o:before {
	content: "\f045";
}
.dork-icon-check-square-o:before {
	content: "\f046";
}
.dork-icon-arrows:before {
	content: "\f047";
}
.dork-icon-step-backward:before {
	content: "\f048";
}
.dork-icon-fast-backward:before {
	content: "\f049";
}
.dork-icon-backward:before {
	content: "\f04a";
}
.dork-icon-play:before {
	content: "\f04b";
}
.dork-icon-pause:before {
	content: "\f04c";
}
.dork-icon-stop:before {
	content: "\f04d";
}
.dork-icon-forward:before {
	content: "\f04e";
}
.dork-icon-fast-forward:before {
	content: "\f050";
}
.dork-icon-step-forward:before {
	content: "\f051";
}
.dork-icon-eject:before {
	content: "\f052";
}
.dork-icon-chevron-left:before {
	content: "\f053";
}
.dork-icon-chevron-right:before {
	content: "\f054";
}
.dork-icon-plus-circle:before {
	content: "\f055";
}
.dork-icon-minus-circle:before {
	content: "\f056";
}
.dork-icon-times-circle:before {
	content: "\f057";
}
.dork-icon-check-circle:before {
	content: "\f058";
}
.dork-icon-question-circle:before {
	content: "\f059";
}
.dork-icon-info-circle:before {
	content: "\f05a";
}
.dork-icon-crosshairs:before {
	content: "\f05b";
}
.dork-icon-times-circle-o:before {
	content: "\f05c";
}
.dork-icon-check-circle-o:before {
	content: "\f05d";
}
.dork-icon-ban:before {
	content: "\f05e";
}
.dork-icon-arrow-left:before {
	content: "\f060";
}
.dork-icon-arrow-right:before {
	content: "\f061";
}
.dork-icon-arrow-up:before {
	content: "\f062";
}
.dork-icon-arrow-down:before {
	content: "\f063";
}
.dork-icon-mail-forward:before,
.dork-icon-share:before {
	content: "\f064";
}
.dork-icon-expand:before {
	content: "\f065";
}
.dork-icon-compress:before {
	content: "\f066";
}
.dork-icon-plus:before {
	content: "\f067";
}
.dork-icon-minus:before {
	content: "\f068";
}
.dork-icon-asterisk:before {
	content: "\f069";
}
.dork-icon-exclamation-circle:before {
	content: "\f06a";
}
.dork-icon-gift:before {
	content: "\f06b";
}
.dork-icon-leaf:before {
	content: "\f06c";
}
.dork-icon-fire:before {
	content: "\f06d";
}
.dork-icon-eye:before {
	content: "\f06e";
}
.dork-icon-eye-slash:before {
	content: "\f070";
}
.dork-icon-warning:before,
.dork-icon-exclamation-triangle:before {
	content: "\f071";
}
.dork-icon-plane:before {
	content: "\f072";
}
.dork-icon-calendar:before {
	content: "\f073";
}
.dork-icon-random:before {
	content: "\f074";
}
.dork-icon-comment:before {
	content: "\f075";
}
.dork-icon-magnet:before {
	content: "\f076";
}
.dork-icon-chevron-up:before {
	content: "\f077";
}
.dork-icon-chevron-down:before {
	content: "\f078";
}
.dork-icon-retweet:before {
	content: "\f079";
}
.dork-icon-shopping-cart:before {
	content: "\f07a";
}
.dork-icon-folder:before {
	content: "\f07b";
}
.dork-icon-folder-open:before {
	content: "\f07c";
}
.dork-icon-arrows-v:before {
	content: "\f07d";
}
.dork-icon-arrows-h:before {
	content: "\f07e";
}
.dork-icon-bar-chart-o:before {
	content: "\f080";
}
.dork-icon-twitter-square:before {
	content: "\f081";
}
.dork-icon-facebook-square:before {
	content: "\f082";
}
.dork-icon-camera-retro:before {
	content: "\f083";
}
.dork-icon-key:before {
	content: "\f084";
}
.dork-icon-gears:before,
.dork-icon-cogs:before {
	content: "\f085";
}
.dork-icon-comments:before {
	content: "\f086";
}
.dork-icon-thumbs-o-up:before {
	content: "\f087";
}
.dork-icon-thumbs-o-down:before {
	content: "\f088";
}
.dork-icon-star-half:before {
	content: "\f089";
}
.dork-icon-heart-o:before {
	content: "\f08a";
}
.dork-icon-sign-out:before {
	content: "\f08b";
}
.dork-icon-linkedin-square:before {
	content: "\f08c";
}
.dork-icon-thumb-tack:before {
	content: "\f08d";
}
.dork-icon-external-link:before {
	content: "\f08e";
}
.dork-icon-sign-in:before {
	content: "\f090";
}
.dork-icon-trophy:before {
	content: "\f091";
}
.dork-icon-github-square:before {
	content: "\f092";
}
.dork-icon-upload:before {
	content: "\f093";
}
.dork-icon-lemon-o:before {
	content: "\f094";
}
.dork-icon-phone:before {
	content: "\f095";
}
.dork-icon-square-o:before {
	content: "\f096";
}
.dork-icon-bookmark-o:before {
	content: "\f097";
}
.dork-icon-phone-square:before {
	content: "\f098";
}
.dork-icon-twitter:before {
	content: "\f099";
}
.dork-icon-facebook:before {
	content: "\f09a";
}
.dork-icon-github:before {
	content: "\f09b";
}
.dork-icon-unlock:before {
	content: "\f09c";
}
.dork-icon-credit-card:before {
	content: "\f09d";
}
.dork-icon-rss:before {
	content: "\f09e";
}
.dork-icon-hdd-o:before {
	content: "\f0a0";
}
.dork-icon-bullhorn:before {
	content: "\f0a1";
}
.dork-icon-bell:before {
	content: "\f0f3";
}
.dork-icon-certificate:before {
	content: "\f0a3";
}
.dork-icon-hand-o-right:before {
	content: "\f0a4";
}
.dork-icon-hand-o-left:before {
	content: "\f0a5";
}
.dork-icon-hand-o-up:before {
	content: "\f0a6";
}
.dork-icon-hand-o-down:before {
	content: "\f0a7";
}
.dork-icon-arrow-circle-left:before {
	content: "\f0a8";
}
.dork-icon-arrow-circle-right:before {
	content: "\f0a9";
}
.dork-icon-arrow-circle-up:before {
	content: "\f0aa";
}
.dork-icon-arrow-circle-down:before {
	content: "\f0ab";
}
.dork-icon-globe:before {
	content: "\f0ac";
}
.dork-icon-wrench:before {
	content: "\f0ad";
}
.dork-icon-tasks:before {
	content: "\f0ae";
}
.dork-icon-filter:before {
	content: "\f0b0";
}
.dork-icon-briefcase:before {
	content: "\f0b1";
}
.dork-icon-arrows-alt:before {
	content: "\f0b2";
}
.dork-icon-group:before,
.dork-icon-users:before {
	content: "\f0c0";
}
.dork-icon-chain:before,
.dork-icon-link:before {
	content: "\f0c1";
}
.dork-icon-cloud:before {
	content: "\f0c2";
}
.dork-icon-flask:before {
	content: "\f0c3";
}
.dork-icon-cut:before,
.dork-icon-scissors:before {
	content: "\f0c4";
}
.dork-icon-copy:before,
.dork-icon-files-o:before {
	content: "\f0c5";
}
.dork-icon-paperclip:before {
	content: "\f0c6";
}
.dork-icon-save:before,
.dork-icon-floppy-o:before {
	content: "\f0c7";
}
.dork-icon-square:before {
	content: "\f0c8";
}
.dork-icon-bars:before {
	content: "\f0c9";
}
.dork-icon-list-ul:before {
	content: "\f0ca";
}
.dork-icon-list-ol:before {
	content: "\f0cb";
}
.dork-icon-strikethrough:before {
	content: "\f0cc";
}
.dork-icon-underline:before {
	content: "\f0cd";
}
.dork-icon-table:before {
	content: "\f0ce";
}
.dork-icon-magic:before {
	content: "\f0d0";
}
.dork-icon-truck:before {
	content: "\f0d1";
}
.dork-icon-pinterest:before {
	content: "\f0d2";
}
.dork-icon-pinterest-square:before {
	content: "\f0d3";
}
.dork-icon-google-plus-square:before {
	content: "\f0d4";
}
.dork-icon-google-plus:before {
	content: "\f0d5";
}
.dork-icon-money:before {
	content: "\f0d6";
}
.dork-icon-caret-down:before {
	content: "\f0d7";
}
.dork-icon-caret-up:before {
	content: "\f0d8";
}
.dork-icon-caret-left:before {
	content: "\f0d9";
}
.dork-icon-caret-right:before {
	content: "\f0da";
}
.dork-icon-columns:before {
	content: "\f0db";
}
.dork-icon-unsorted:before,
.dork-icon-sort:before {
	content: "\f0dc";
}
.dork-icon-sort-down:before,
.dork-icon-sort-asc:before {
	content: "\f0dd";
}
.dork-icon-sort-up:before,
.dork-icon-sort-desc:before {
	content: "\f0de";
}
.dork-icon-envelope:before {
	content: "\f0e0";
}
.dork-icon-linkedin:before {
	content: "\f0e1";
}
.dork-icon-rotate-left:before,
.dork-icon-undo:before {
	content: "\f0e2";
}
.dork-icon-legal:before,
.dork-icon-gavel:before {
	content: "\f0e3";
}
.dork-icon-dashboard:before,
.dork-icon-tachometer:before {
	content: "\f0e4";
}
.dork-icon-comment-o:before {
	content: "\f0e5";
}
.dork-icon-comments-o:before {
	content: "\f0e6";
}
.dork-icon-flash:before,
.dork-icon-bolt:before {
	content: "\f0e7";
}
.dork-icon-sitemap:before {
	content: "\f0e8";
}
.dork-icon-umbrella:before {
	content: "\f0e9";
}
.dork-icon-paste:before,
.dork-icon-clipboard:before {
	content: "\f0ea";
}
.dork-icon-lightbulb-o:before {
	content: "\f0eb";
}
.dork-icon-exchange:before {
	content: "\f0ec";
}
.dork-icon-cloud-download:before {
	content: "\f0ed";
}
.dork-icon-cloud-upload:before {
	content: "\f0ee";
}
.dork-icon-user-md:before {
	content: "\f0f0";
}
.dork-icon-stethoscope:before {
	content: "\f0f1";
}
.dork-icon-suitcase:before {
	content: "\f0f2";
}
.dork-icon-bell-o:before {
	content: "\f0a2";
}
.dork-icon-coffee:before {
	content: "\f0f4";
}
.dork-icon-cutlery:before {
	content: "\f0f5";
}
.dork-icon-file-text-o:before {
	content: "\f0f6";
}
.dork-icon-building-o:before {
	content: "\f0f7";
}
.dork-icon-hospital-o:before {
	content: "\f0f8";
}
.dork-icon-ambulance:before {
	content: "\f0f9";
}
.dork-icon-medkit:before {
	content: "\f0fa";
}
.dork-icon-fighter-jet:before {
	content: "\f0fb";
}
.dork-icon-beer:before {
	content: "\f0fc";
}
.dork-icon-h-square:before {
	content: "\f0fd";
}
.dork-icon-plus-square:before {
	content: "\f0fe";
}
.dork-icon-angle-double-left:before {
	content: "\f100";
}
.dork-icon-angle-double-right:before {
	content: "\f101";
}
.dork-icon-angle-double-up:before {
	content: "\f102";
}
.dork-icon-angle-double-down:before {
	content: "\f103";
}
.dork-icon-angle-left:before {
	content: "\f104";
}
.dork-icon-angle-right:before {
	content: "\f105";
}
.dork-icon-angle-up:before {
	content: "\f106";
}
.dork-icon-angle-down:before {
	content: "\f107";
}
.dork-icon-desktop:before {
	content: "\f108";
}
.dork-icon-laptop:before {
	content: "\f109";
}
.dork-icon-tablet:before {
	content: "\f10a";
}
.dork-icon-mobile-phone:before,
.dork-icon-mobile:before {
	content: "\f10b";
}
.dork-icon-circle-o:before {
	content: "\f10c";
}
.dork-icon-quote-left:before {
	content: "\f10d";
}
.dork-icon-quote-right:before {
	content: "\f10e";
}
.dork-icon-spinner:before {
	content: "\f110";
}
.dork-icon-circle:before {
	content: "\f111";
}
.dork-icon-mail-reply:before,
.dork-icon-reply:before {
	content: "\f112";
}
.dork-icon-github-alt:before {
	content: "\f113";
}
.dork-icon-folder-o:before {
	content: "\f114";
}
.dork-icon-folder-open-o:before {
	content: "\f115";
}
.dork-icon-smile-o:before {
	content: "\f118";
}
.dork-icon-frown-o:before {
	content: "\f119";
}
.dork-icon-meh-o:before {
	content: "\f11a";
}
.dork-icon-gamepad:before {
	content: "\f11b";
}
.dork-icon-keyboard-o:before {
	content: "\f11c";
}
.dork-icon-flag-o:before {
	content: "\f11d";
}
.dork-icon-flag-checkered:before {
	content: "\f11e";
}
.dork-icon-terminal:before {
	content: "\f120";
}
.dork-icon-code:before {
	content: "\f121";
}
.dork-icon-reply-all:before {
	content: "\f122";
}
.dork-icon-mail-reply-all:before {
	content: "\f122";
}
.dork-icon-star-half-empty:before,
.dork-icon-star-half-full:before,
.dork-icon-star-half-o:before {
	content: "\f123";
}
.dork-icon-location-arrow:before {
	content: "\f124";
}
.dork-icon-crop:before {
	content: "\f125";
}
.dork-icon-code-fork:before {
	content: "\f126";
}
.dork-icon-unlink:before,
.dork-icon-chain-broken:before {
	content: "\f127";
}
.dork-icon-question:before {
	content: "\f128";
}
.dork-icon-info:before {
	content: "\f129";
}
.dork-icon-exclamation:before {
	content: "\f12a";
}
.dork-icon-superscript:before {
	content: "\f12b";
}
.dork-icon-subscript:before {
	content: "\f12c";
}
.dork-icon-eraser:before {
	content: "\f12d";
}
.dork-icon-puzzle-piece:before {
	content: "\f12e";
}
.dork-icon-microphone:before {
	content: "\f130";
}
.dork-icon-microphone-slash:before {
	content: "\f131";
}
.dork-icon-shield:before {
	content: "\f132";
}
.dork-icon-calendar-o:before {
	content: "\f133";
}
.dork-icon-fire-extinguisher:before {
	content: "\f134";
}
.dork-icon-rocket:before {
	content: "\f135";
}
.dork-icon-maxcdn:before {
	content: "\f136";
}
.dork-icon-chevron-circle-left:before {
	content: "\f137";
}
.dork-icon-chevron-circle-right:before {
	content: "\f138";
}
.dork-icon-chevron-circle-up:before {
	content: "\f139";
}
.dork-icon-chevron-circle-down:before {
	content: "\f13a";
}
.dork-icon-html5:before {
	content: "\f13b";
}
.dork-icon-css3:before {
	content: "\f13c";
}
.dork-icon-anchor:before {
	content: "\f13d";
}
.dork-icon-unlock-alt:before {
	content: "\f13e";
}
.dork-icon-bullseye:before {
	content: "\f140";
}
.dork-icon-ellipsis-h:before {
	content: "\f141";
}
.dork-icon-ellipsis-v:before {
	content: "\f142";
}
.dork-icon-rss-square:before {
	content: "\f143";
}
.dork-icon-play-circle:before {
	content: "\f144";
}
.dork-icon-ticket:before {
	content: "\f145";
}
.dork-icon-minus-square:before {
	content: "\f146";
}
.dork-icon-minus-square-o:before {
	content: "\f147";
}
.dork-icon-level-up:before {
	content: "\f148";
}
.dork-icon-level-down:before {
	content: "\f149";
}
.dork-icon-check-square:before {
	content: "\f14a";
}
.dork-icon-pencil-square:before {
	content: "\f14b";
}
.dork-icon-external-link-square:before {
	content: "\f14c";
}
.dork-icon-share-square:before {
	content: "\f14d";
}
.dork-icon-compass:before {
	content: "\f14e";
}
.dork-icon-toggle-down:before,
.dork-icon-caret-square-o-down:before {
	content: "\f150";
}
.dork-icon-toggle-up:before,
.dork-icon-caret-square-o-up:before {
	content: "\f151";
}
.dork-icon-toggle-right:before,
.dork-icon-caret-square-o-right:before {
	content: "\f152";
}
.dork-icon-euro:before,
.dork-icon-eur:before {
	content: "\f153";
}
.dork-icon-gbp:before {
	content: "\f154";
}
.dork-icon-dollar:before,
.dork-icon-usd:before {
	content: "\f155";
}
.dork-icon-rupee:before,
.dork-icon-inr:before {
	content: "\f156";
}
.dork-icon-cny:before,
.dork-icon-rmb:before,
.dork-icon-yen:before,
.dork-icon-jpy:before {
	content: "\f157";
}
.dork-icon-ruble:before,
.dork-icon-rouble:before,
.dork-icon-rub:before {
	content: "\f158";
}
.dork-icon-won:before,
.dork-icon-krw:before {
	content: "\f159";
}
.dork-icon-bitcoin:before,
.dork-icon-btc:before {
	content: "\f15a";
}
.dork-icon-file:before {
	content: "\f15b";
}
.dork-icon-file-text:before {
	content: "\f15c";
}
.dork-icon-sort-alpha-asc:before {
	content: "\f15d";
}
.dork-icon-sort-alpha-desc:before {
	content: "\f15e";
}
.dork-icon-sort-amount-asc:before {
	content: "\f160";
}
.dork-icon-sort-amount-desc:before {
	content: "\f161";
}
.dork-icon-sort-numeric-asc:before {
	content: "\f162";
}
.dork-icon-sort-numeric-desc:before {
	content: "\f163";
}
.dork-icon-thumbs-up:before {
	content: "\f164";
}
.dork-icon-thumbs-down:before {
	content: "\f165";
}
.dork-icon-youtube-square:before {
	content: "\f166";
}
.dork-icon-youtube:before {
	content: "\f167";
}
.dork-icon-xing:before {
	content: "\f168";
}
.dork-icon-xing-square:before {
	content: "\f169";
}
.dork-icon-youtube-play:before {
	content: "\f16a";
}
.dork-icon-dropbox:before {
	content: "\f16b";
}
.dork-icon-stack-overflow:before {
	content: "\f16c";
}
.dork-icon-instagram:before {
	content: "\f16d";
}
.dork-icon-flickr:before {
	content: "\f16e";
}
.dork-icon-adn:before {
	content: "\f170";
}
.dork-icon-bitbucket:before {
	content: "\f171";
}
.dork-icon-bitbucket-square:before {
	content: "\f172";
}
.dork-icon-tumblr:before {
	content: "\f173";
}
.dork-icon-tumblr-square:before {
	content: "\f174";
}
.dork-icon-long-arrow-down:before {
	content: "\f175";
}
.dork-icon-long-arrow-up:before {
	content: "\f176";
}
.dork-icon-long-arrow-left:before {
	content: "\f177";
}
.dork-icon-long-arrow-right:before {
	content: "\f178";
}
.dork-icon-apple:before {
	content: "\f179";
}
.dork-icon-windows:before {
	content: "\f17a";
}
.dork-icon-android:before {
	content: "\f17b";
}
.dork-icon-linux:before {
	content: "\f17c";
}
.dork-icon-dribbble:before {
	content: "\f17d";
}
.dork-icon-skype:before {
	content: "\f17e";
}
.dork-icon-foursquare:before {
	content: "\f180";
}
.dork-icon-trello:before {
	content: "\f181";
}
.dork-icon-female:before {
	content: "\f182";
}
.dork-icon-male:before {
	content: "\f183";
}
.dork-icon-gittip:before {
	content: "\f184";
}
.dork-icon-sun-o:before {
	content: "\f185";
}
.dork-icon-moon-o:before {
	content: "\f186";
}
.dork-icon-archive:before {
	content: "\f187";
}
.dork-icon-bug:before {
	content: "\f188";
}
.dork-icon-vk:before {
	content: "\f189";
}
.dork-icon-weibo:before {
	content: "\f18a";
}
.dork-icon-renren:before {
	content: "\f18b";
}
.dork-icon-pagelines:before {
	content: "\f18c";
}
.dork-icon-stack-exchange:before {
	content: "\f18d";
}
.dork-icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.dork-icon-arrow-circle-o-left:before {
	content: "\f190";
}
.dork-icon-toggle-left:before,
.dork-icon-caret-square-o-left:before {
	content: "\f191";
}
.dork-icon-dot-circle-o:before {
	content: "\f192";
}
.dork-icon-wheelchair:before {
	content: "\f193";
}
.dork-icon-vimeo-square:before {
	content: "\f194";
}
.dork-icon-turkish-lira:before,
.dork-icon-try:before {
	content: "\f195";
}
.dork-icon-plus-square-o:before {
	content: "\f196";
}